body{
    font-family: 'Raleway', sans-serif;
}
.contador{
    padding: 20px;
    margin-top: 50px;
}
.hero-unit{
    line-height: 0px;
    margin-bottom: 5px;

}
.ruleta-wrap{
    margin: 0 auto;
    position: relative;
}
.ruleta{
    max-height: 4.375rem;
    border-radius: .5rem;
    height: 4.125rem;
    background-image: url(../imagenes/roulette.png);
    background-position: 0 0;
    background-repeat-x: repeat;
    overflow: hidden;
    border: 1px solid #b3b3b3;
}

.ruleta-wrap .indicador{
    position: absolute;
    top: -.1875rem;
    margin-left: -2.375rem;
    left: 49.65%;
    display: block;
    box-sizing: content-box;
    width: 78.26px;
    height: 100%;
    border: 3px solid #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,.7);
}

.ruleta-wrap .indicador:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: .1875rem;
    height: 100%;
    background-color: #fff;
}
.inputApuesta{
    margin-top: 7px;
    margin-right: 10px;
}
.balance{
    padding: 30px;
}
.span4 .btn{
    height: 50px;
    margin-top: 20px;
}

.btnRojo, .btnRojo:active, .btnRojo:hover{
    background-color: red;
    background-image: linear-gradient(to bottom,#FF4646,#FF0000);
    border-color: #FF0000 #FF0000 #FF0000;
    
}

.btnRojo:focus{
    background-color: red;
    background-image: linear-gradient(to bottom,#FF4646,#FF0000);
    outline: 1px solid #FF0000; 
}

.btnVerde, .btnVerde:active, .btnVerde:hover{
     background-color: #00FF04;
     background-image: linear-gradient(to bottom,#5BFF5E,#00FF04);
}
.btnVerde:focus{
    background-color: #00FF04;
    background-image: linear-gradient(to bottom,#5BFF5E,#00FF04);
    outline: 1px solid #00FF04; 
}
.btnNegro, .btnNegro:active, .btnNegro:hover{
     background-color: black;
     background-image: linear-gradient(to bottom,#494949,#000000);
}

.btnNegro:focus{
    background-color: black;
    background-image: linear-gradient(to bottom,#494949,#000000);
    outline: 1px solid #000000; 
}